@import "Modal.css";

.edit-event-dialog div {
}

.edit-event-dialog .dangerous {
  color: red;
}

.edit-event-dialog .button-rack {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.edit-event-dialog .wide {
  width: 100%;
}

@media screen and (max-aspect-ratio: 1/1) and (max-width: 720px) {
  .edit-event-dialog {
    width: 90vw;
  }
}

@media screen and (any-pointer: coarse) {
  /* Touch sensitive */
  .edit-event-dialog {
    font-size: 5vw;
  }
}
