@import "EditEventDialog.css";

.event-calendar {
  position: relative; /* required for placement of floating-button */
  height: 100%; /* of the container */
  width: 100%;
  min-width: 350px;
}

.event-calendar a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.event-calendar a:active {
  background: linear-gradient(135deg, #9a0dfe, #637dfb);
}

.event-calendar a.selected {
  background: linear-gradient(135deg, #fabdfe, #e36eab);
}

/* Title above calendar (if any) */
.event-calendar h1 {
  margin: 0;
  padding: 0.25em 0 0.25em;
}

/* month nav bar above calendar days */
.event-calendar .nav {
  margin: 0.25em;
  opacity: 0.5;
  display: flex;
  font-size: smaller;
  justify-content:space-between
}

.event-calendar .wrap {
  height: 100%;
  border-radius: 16px;
  box-sizing: border-box;
  border: 4px solid #fff;
  background-color: #eff0f8;
  box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
  display: flex;
  flex-direction: column;
}

.event-calendar .calendar-wrap {
}

.event-calendar .calendar {
  background: #fff;
  border-radius: 0 0 1em 1em;
  color: #555;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em;
}

.event-calendar .out-day {
  pointer-events: none;
  opacity: 0.2;
}

.event-calendar .past-day {
  pointer-events: none;
  opacity: 0.5;
}

.event-calendar .current-day {
  background: #eff0f8;
}

.event-calendar .day-row {
  display: flex;
  opacity: 1;
  width: 100%;
  transition: height 0.3s;
  align-items: center;
  justify-content: space-evenly;
}

/* day names above the month block */
.event-calendar .day-heads {
  pointer-events: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  font-weight: bold;
}

/* Day numbers in the month block */
.event-calendar .day-list {
}

/* .day-row is a single row of dates in the month block */
.event-calendar .day-row a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-calendar .day-row a > span,
.event-calendar .day-heads span {
  position: relative;
  width: 100%;
  padding: 4px 0 7px;
  margin: 2px 0;
  text-align: center;
  border-radius: 6px;
}

.event-calendar .day-list .active span {
  font-weight: 700;
  color: #fff;
  background-color: #824bfc;
}

.event-calendar .events-wrap {
  flex: 1;
  overflow: scroll;
}

/* was .v-info */
.event-calendar .events-list {
  overflow: scroll;
  width: 100%;
  padding-bottom: 3em;
  margin-bottom: 0.5em;
  transition: all 0.3s;
}
.event-calendar .event {
  border-bottom: 1px solid #fff;
  padding: 0.25em;
}

.event-calendar .event:hover {
  background: #fff0ff;
}

.event-calendar .event-time {
  padding-bottom: 0.2em;
  font-weight: bold;
}

.event-calendar .event-button {
/*  position: relative;
  left: 90%;
  top: 1.5em;*/
  float: right;
  padding: 0;
}

.event-calendar .event-button span {
  display: inline-block;
}

.event-calendar .color-orange {
  background: linear-gradient(#ff9900, #ff5050);
  box-shadow: 0 2px 12px -3px #ff5050;
}

.event-calendar .color-pink {
  background: linear-gradient(#ff66cc, #ff6666);
  box-shadow: 0 2px 12px -3px #ff6666;
}

.event-calendar .color-green {
  background: linear-gradient(#19be6b, #236c61);
  box-shadow: 0 2px 12px -3px #236c61;
}

.event-calendar .color-blue {
  background: linear-gradient(#33ccff, #72abff);
  box-shadow: 0 2px 12px -3px #72abff;
}

.event-calendar .dots {
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: transparent !important;
}

.event-calendar .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0 2px;
}

.event-calendar .floating-button {
  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 100px;
  height: 40px;
  background: linear-gradient(135deg, #9a0dfe, #637dfb);
  box-shadow: 0 2px 12px -3px #637dfb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  border: none;
  border-radius: 1em;
}

/*------------ TOUCH SENSITIVE ------------*/

@media screen and (any-pointer: coarse) {
  /* Touch sensitive */
  .event-calendar {
    font-size: larger;
  }
}
